<%= form_for(@request_user) do |f| %>
  <% if @request_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request_user.errors.count, "error") %> prohibited this request_user from being saved:</h2>

      <ul>
      <% @request_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :request_id %><br />
    <%= f.number_field :request_id, :readonly => @request_user.request_id? %>
  </div>
  
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :role %><br />
    <%= f.text_field :role %>
  </div>

  <div class="field">
    <%= f.label :begin %><br />
    <%= f.datetime_select :begin %>
  </div>

  <div class="field">
    <%= f.label :end %><br />
    <%= f.datetime_select :end %>
  </div>

  <div class="field">
    <%= f.label :allocation %><br />
    <div class="input-append">
      <%= f.number_field :allocation, {:in => 0...101, :step => 5} %>
      <span class="add-on">%</span>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
