<h1>Listing request_users</h1>

<table>
  <tr>
    <th>Request</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @request_users.each do |request_user| %>
  <tr>
    <td><%= request_user.request_id %></td>
    <td><%= request_user.user_id %></td>
    <td><%= link_to 'Show', request_user %></td>
    <td><%= link_to 'Edit', edit_request_user_path(request_user) %></td>
    <td><%= link_to 'Destroy', request_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Request user', new_request_user_path %>
