<%= form_for(@request, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :system_id, :class => "control-label" %>
    <div class="controls">
      <%= f.collection_select :system_id, System.all, :id, :name, prompt: true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :category, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :category %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :description, :title => 
      "Who is affected? (Widespread or isolated)
What are the causes of the problem? (Including troubleshooting steps taken)
When does the problem occur?
Where does the problem occur?
What is the business impact if the request is not completed?
What would a successful solution look like?" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :target_date, :class => "control-label" %>
    <div class="controls">
      <%= f.datetime_select :target_date %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :size, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :size %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :status, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :status %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :user_id, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :user_id %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :user_email, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :user_email %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :behalf_of_user_id, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :behalf_of_user_id %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :priority, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :priority %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :context, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :context %>
    </div>
  </div>

  <!--<% if @request.persisted? %>
    <%= f.label :request_comments %>
    <%= f.fields_for :request_comments, @request.request_comments.last do |c| %>
        <div class="field">
          <%= c.label :user_id %><br />
          <%= c.text_field :user_id %>
        </div>
        <div class="field">
          <%= c.label :text %><br />
          <%= c.text_area :text %>
        </div>
    <% end %>

    <div class="field">
      <% @request.request_comments[0..-1].each do |comment| %>
        <div>
          <%= comment.user_id %><br>
          <%= comment.created_at %><br>
          <%= comment.text %>
        </div>
      <% end %>
    </div>
  <% end %>-->

  <div class="control-group">
    <%= f.submit :class => "btn btn-primary" %>
  </div>

<% end %>
