<p id="notice"><%= notice %></p>

<div class="display-group">
  <div class="display-label">
  <%= label @request, :Id %>
  </div>
  <div class="display-value">
    <label><%= @request.id %></label>
  </div>
</div>

<p>
  <b>Title:</b>
  <%= @request.title %>
</p>

<p>
  <b>Category:</b>
  <%= @request.category %>
</p>

<p>
  <b>Description:</b>
  <%= @request.description %>
</p>

<p>
  <b>Target date:</b>
  <%= @request.target_date %>
</p>

<p>
  <b>Size:</b>
  <%= @request.size %>
</p>

<p>
  <b>Status:</b>
  <%= @request.status %>
</p>

<p>
  <b>User:</b>
  <%= @request.user_id %>
</p>

<p>
  <b>Behalf of user:</b>
  <%= @request.behalf_of_user_id %>
</p>

<p>
  <b>Priority:</b>
  <%= @request.priority %>
</p>

<p>
  <b>Context:</b>
  <%= @request.context %>
</p>
</form>
<p>
  <b>Comments:</b>
  <% @request.request_comments.each do |request_comment| %>
  <div>
    <%= request_comment.created_at %>
    <%= request_comment.user_id %>
    <div>
      <%= request_comment.text %>
    </div>
    <!--<a href="#Team" role="button" class="btn" data-toggle="modal" data-remote="/request_comments/<%= request_comment.id %>/edit">Edit</a>-->
  </div>
  <% end %>

  <a href="#comment" role="button" class="btn" data-toggle="modal">Add</a>
  
  <%= render "request_comments/form" %>
</p>

<p>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th>
          Team
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @request.request_teams.each do |request_team| %>
      <tr>
        <td>
          <%= request_team.team.name %>
        </td>
        <td>
          <a href="#team" role="button" class="btn" data-toggle="modal">Edit</a>
          <%= form_for(request_team, :method => :delete) do |f| %>
            <%= f.submit "Delete", :class => "btn btn-primary btn-danger" %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <a href="#team" role="button" class="btn" data-toggle="modal">Add</a>
  
  <%= render "request_teams/form" %>
</p>

<p>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th>
          User
        </th>
        <th>
          Role
        </th>
        <th>
          Allocation
        </th>
        <th>
          Begin
        </th>
        <th>
          End
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @request.request_users.each do |request_user| %>
      <tr>
        <td>
          <%= request_user.user_id %>
        </td>
        <td>
          <%= request_user.role %>
        </td>
        <td>
          <%= request_user.allocation %>
        </td>
        <td>
          <%= request_user.begin %>
        </td>
        <td>
          <%= request_user.end %>
        </td>
        <td>
          <a href="#user" role="button" class="btn" data-toggle="modal">Edit</a>
        </td>
        <% end %>
      </tbody>
    </table>

    <a href="#user" role="button" class="btn" data-toggle="modal">Add</a>

    <%= render "request_users/form" %>
  </p>

  <p>
    <b>Attachments:</b>
    <% @request.request_attachments.each do |request_attachment| %>
    <div>
      <%= link_to File.basename(request_attachment.attachment_url), request_attachment.attachment_url %>
      <a href="#attachment" role="button" class="btn" data-toggle="modal">Edit</a>
    </div>
    <% end %>

    <a href="#attachment" role="button" class="btn" data-toggle="modal">Add Attachment</a>

    <%= render "request_attachments/form" %>
  </p>



  <%= link_to 'Edit', edit_request_path(@request) %> |
  <%= link_to 'Back', requests_path %>
