<%= form_for(@request_comment) do |f| %>
  <% if @request_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request_comment.errors.count, "error") %> prohibited this request_comment from being saved:</h2>

      <ul>
      <% @request_comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :request_id %><br />
    <%= f.number_field :request_id, :readonly => @request_comment.request_id? %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
