<!DOCTYPE html>
<html>
	<head>
		<title>Requests</title>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="wrapper">
			<%= render "layouts/navbar" %>

			<div class="container">
				<%= yield %>
			</div>
			<div class="push">
				<!--//-->
			</div>
		</div>

		<%= render "layouts/footer" %>

		<%= javascript_include_tag "application" %>
	</body>
</html>